
.sidebar_outer{
	min-height:80px;
	float:right;
	padding-top:70px;
	padding-left:6%;
	right:8%;
	position:absolute;
}
.sidebar_block{
	width:100%;
	display:block;
	margin-left:20px;
	margin-bottom:45px;
	cursor: pointer;
	transition: all .15s ease-in-out;
}
.sidebar_block:hover{
	transform:scale(1.02);
}
.block_bottompart{
	padding: 10px;
	font-size: 16px;
	padding-top: 0;
	margin-top: -5px;
	text-align:left;
}
.sidebar_content{
	margin-bottom:60px;
}
.sidebar_img{
	width:100%;
	border-radius:5px 5px 0 0;
	object-fit:cover;
	max-height:160px;
}
.sidebar_title_cont{
    padding-bottom: 8px;
    text-align: left;
    font-size: 20px !important;
    border-bottom: #0071c1 solid 1px;
		line-height: 1.05;
}
.sidebar_title{
	color:black;
	font-weight:bold;
}
.sidebar_related{
	display:none;
}
.col-md-9-vip{
	position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 45px;
}
@media screen and (max-width: 1280px){
	.sidebar_title{
		font-size:18px !important;
	}
	.sidebar_img{
		max-height:140px;
	}
}
@media screen and (max-width: 1100px){
	.sidebar_title{
		font-size:16px;
	}
	.sidebar_outer{
		display:block;
		position:relative !important;
		width:50%;
		margin-left:25%;
		right:25%;
		padding:0;
	}
	.row{
		margin-left:0;
		margin-right:0;
	}
	.sidebar_img{
		max-height:170px;
	}
	.sidebar_block{
		margin-left:0;
	}
	.sidebar_related{
		display:block;
		font-size: 20px;
    text-align: center;
    padding-bottom: 15px;
		border-bottom:solid darkgrey 1px;
		margin-bottom:30px;
	}
}
@media screen and (max-width: 892px){
	.sidebar_outer{
		display:block;
		position:relative !important;
		width:50%;
		margin-left:25%;
		right:25%;
		padding:0;
	}
	.row{
		margin-left:0;
		margin-right:0;
	}
	.sidebar_img{
		max-height:170px;
	}
	.sidebar_block{
		margin-left:0;
	}
	.sidebar_related{
		display:block;
		font-size: 20px;
    text-align: center;
    padding-bottom: 15px;
		border-bottom:solid darkgrey 1px;
		margin-bottom:30px;
	}
	.col-md-9-vip{
		padding-right:20px;
		padding-left:20px;
	}
}
@media screen and (max-width: 685px){
	.sidebar_outer{
		display:block;
		position:relative;
		width:70%;
		margin-left:15%;
		right:15%;
		padding:0;
	}
	.row{
		margin-left:0;
		margin-right:0;
	}
	.sidebar_img{
		max-height:170px;
	}
	.sidebar_block{
		margin-left:0;
	}
	.sidebar_related{
		display:block;
		font-size: 20px;
    text-align: center;
    padding-bottom: 15px;
		border-bottom:solid darkgrey 1px;
		margin-bottom:30px;
	}
	.col-md-9-vip{
		padding-right:10px;
		padding-left:10px;
	}
}
@media (min-width: 1050px) {
  .col-md-9-vip{
    float: left;
		width: 75%;
	}
}